@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use 'sass:color';

.btn-1{
    background-clip: padding-box;
    background-color: var.$secundario;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: var.$difuminado_botones;
    box-sizing: border-box;
    color: var.$blanco;
    display: block;
    margin: 1rem auto 0 auto;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    transition: all 250ms;
    user-select: none;
    width: fit-content;
}

.btn-1:hover,
.btn-1:focus {
  background-color: #fb8332;
  box-shadow: var.$difuminado;
}

.btn-1:hover {
  transform: translateY(-1px);
}

.btn-1 {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.btn-volver {
  font-size: 1.1rem;
    margin: 1rem 0 2rem 2rem; // separa del contenido y lo alinea a la izquierda
    display: inline-block;
}

.btn-opcion {
  background-color: var.$secundario;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: color.scale(var.$secundario, $lightness: -10%);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

.btn-opcion.verde {
  background-color: #28a745;

  &:hover {
    background-color: color.scale(#28a745, $lightness: -10%);
  }
}

.btn-opcion.rojo {
  background-color: #dc3545;

  &:hover {
    background-color: color.scale(#dc3545, $lightness: -10%);
  }
}