@use '../base/variables' as var;

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.seccion {
    margin-top: calc(var.$separacion / 2);
    margin-bottom: calc(var.$separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}

.w-100{
    width: 100%;
}

.contenido-bloque{
    background-color: var.$seccion;
    box-shadow: var.$difuminado;
    border-radius: 8px;
    padding: 2rem;
    margin: var.$margen;
}