@use '../base/variables' as var;

.seccion {
    margin-top: calc(var.$separacion / 2);
    margin-bottom: calc(var.$separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}

.w-100{
    width: 100%;
}
