@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use 'sass:color';

.formulario-ticket{
    textarea, input, select {
        width: 100%;
        padding: 8px;
        margin-bottom: 12px;
        border: 1px solid #80bdff;
    }
    
    textarea:focus {
        outline: none;
    }

}

.mensaje {
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
}
