@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use 'sass:color';


.footer {
    background-color: var.$fondo;
    color: var.$blanco;
    padding: 2rem;
    text-align: center;
    height: auto; // o mantenlo si quieres altura fija
}