@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use 'sass:color';


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;   
    background-color: var.$fondo;
    color: var.$blanco;
    padding: 2rem;
    text-align: center;
}   