@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use 'sass:color';

.login {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 250px;
    }

    input {
        padding: 12px;
        border: none;
        border-radius: 6px;
        background-color: #e6e6e6;
        font-size: 14px;
        outline: none;
    }

    button {
        background-color: #5b3b99; // morado
        color: white;
        padding: 12px;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #482f7a;
        }
    }
}

