@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use 'sass:color';

.bloque-resetear{
    display: flex;
    justify-content: center; // centrado horizontal
    align-items: center;
    text-align: center;
}

.form-resetear {
    max-width: 500px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: var.$difuminado;
}
.select-resetear, .input-resetear {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}
.button-resetear {
    background: #ffc107;
    color: #000;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: bold;
}
.mensaje {
    margin-bottom: 15px;
    background: #e2f7e2;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-left: 5px solid #28a745;
    border-radius: 5px;
}
.form-label {
    font-weight: bold;
}