@forward 'base/variables';
@forward 'base/mixins';
@forward 'base/globales';
@forward 'base/normalize';
@forward 'base/utilidades';
@forward 'base/botones';

// UI
@forward 'layout/header';
@forward 'layout/inicio';
@forward 'layout/footer';
@forward 'layout/login';
@forward 'layout/panel-tecnico';
@forward 'layout/auntoservicio';
@forward 'layout/crear-ticket';
@forward 'layout/mis-ticket';
@forward 'layout/resetear';
@forward 'layout/responderticket';
@forward 'layout/crearfalla';
@forward 'layout/biblioteca';
@forward 'layout/verpdf';
@forward 'layout/resena';



//Internas
