@forward 'base/variables';
@forward 'base/mixins';
@forward 'base/globales';
@forward 'base/normalize';
@forward 'base/utilidades';
@forward 'base/botones';

// UI
@forward 'layout/header';
@forward 'layout/inicio';
@forward 'layout/footer';
@forward 'layout/login';
@forward 'layout/panel-tecnico';
@forward 'layout/auntoservicio';



//Internas
